* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: rgba(203, 203, 203, 0.8);
}

.intro h3{
	font-size: 1.5rem;
	letter-spacing: 0.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.8);
}

ul li{
	list-style: none;
	letter-spacing: 0.3rem;
	color: rgba(203, 203, 203, 203.8);
	font-weight: bold;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 30%;
}

a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

.burger{
	display: none;
}

.burger div{
	height: 3px;
	width: 20px;
	margin: 3px;
	background-color: rgba(0, 0, 0, 0.8);
	transition: all 0.5s ease;
}

.introbg{
	z-index: -1;
	background-image: url('../images/bg3.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background: line-gradient(0, 0, 0, 0.5);
	background-attachment: fixed;
	height: 100vh;
}

.introcontainer{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/*margin-top: 6em;*/
}

.introcontainer h2{
	font-size: 3rem;
	margin-top: 6em;
	letter-spacing: 0.7rem;
	color: rgba(242, 242 , 242 ,0.9);
	font-weight: bold;
	text-transform: uppercase;
}

.introline{
	height: 0.2em;
	width: 60vw;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 0.5em;
}

.introcontainer p{
	font-size: 1.5rem;
	color: rgba(242, 242 , 242 ,0.9);
}

.buttonsintro{
	display: flex;
	/*margin-top: 3em;*/
}
.buttonsintro button{
	background-color: rgba(203, 203, 203, 0.8);
	border: 1.5px solid rgba(0, 0, 0, 0.7);
	border-radius: 3px;
	flex: 1;
	height: 8vh;
	width: 15vw;
	font-size: 1rem;
	transition: 0.6s;
	letter-spacing: 0.1rem;
}

.buttonsintro button:hover{
	background-color: rgba(0, 0, 0, 0.4);
}

.buttonsintro button a:hover{
	color: white;
}

.buttonsintro a{
}

.projectbg{
	background-image:  url("../images/graybg.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background: line-gradient(0, 0, 0, 0.8);
	height:150vh;
}

.cardholdercon{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 7em;
}

.cardholdercon div{
	width: 25vw;
	height: 65vh;
	margin: 2em;
	box-shadow: 0 5px 15px 0;
	transition: 1s;
	animation: ease-in;
	cursor: pointer;
}

.cardholdercon div:hover{
	transform: translateY(-5%);
}

.cardholdercon img{
	width: 25vw;
	height: 30vh;
}

.cardholdercon h2{
	margin: 0.5em;
	font-size: 2rem;
	text-align: center;
	letter-spacing: 0.5rem;
	color: #0F0A0A;
}

.cardholdercon p{
	margin: 0 .5em 0 0.5em;
	text-align: center;
}

.proj button{
	width: 10vw;
	height: 5vh;
	transform: translateX(70%);
	margin-top: 1em;
	/*background-color: #0F0A0A;*/
	border: 2px solid black;
	border-radius: 5px;
	transition: 0.5s;
}

.proj button:hover{
	background-color: #0f0a0a;
	color: white;
}

section{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

section h2{
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-size: 2.5rem;
}

.underlineabout{
	height: 3px;
	width: 60vw;
	background-color: #0f0a0a;
	margin-bottom: 2em;
}

section p{
	width: 80vw;
	text-align: justify;
	margin-bottom: 2em;
}

.socialcon i{
	justify-content: space-around;
	align-items: center;
	font-size: 3rem;
	color: #3F8EFC;
	margin: 0em 0.5em 0 0.5em;

}

.socialbutton{
	text-align: center;
	height: 50px;
	width: 50px;
	background-color: black;
	margin: 2em;
}

section button{
	margin: 2em;
}


section button{
	height: 5vh;
	width: 10vw;
	border: 2px solid #0f0a0a;
	transition: 1s;
	cursor: pointer;
	border-radius: 5px;
}

section button:hover{
	background-color: #000;
	color: #fff;
	border: 2px solid #fff;

}

@media screen and (max-width: 768px){

	body{
		overflow-x: hidden;
	}

	.nav-links{
		position: absolute;
		right: 0px;
		top: 8vh;
		height: 52vh;
		transform: translateX(100%);
		flex-direction: column;
		background-color: rgba(203, 203, 203, .5);
		transition: transform 0.8s ease-in;
	}

	.burger{
		display: block;
		cursor: pointer;
	}


}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform:translateX(50px);
	}
	to{
		opacity: 1
		transform:translateX(0px);
	}
}

.nav-active{
	transform: translateX(0%);
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,4px);

}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px,-4px);
}

html{
	scroll-behavior: smooth;
}